* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(../images/mario.jpg);
    background-attachment: fixed;
}

header {
    background-color: rgb(112, 144, 249);


}

#logo {
    width: 250px;
    margin: 20px auto;
    text-align: center;
    display: block;

}

#wrapper {
    background-color: rgb(246, 250, 234, .8);
    width: 940px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 10px;
    overflow: hidden;

}

nav {
    height: 50px;
    line-height: 50px;
    background: yellow;
    margin: 20px auto;
}

nav a {
    text-decoration: none;
    color: #194dbe;
    font-weight: bold;
    display: block;
    /*This will highlight the whole block in the nav not just the words*/
}

nav a:hover {
    background-color: maroon;
    color: white;

}

nav li {
    list-style-type: none;
    float: left;
    width: 100%;
    text-align: center;
}

main {
    float: left;
    background-color: rgb(246, 250, 234);
    width: 560px;

}

aside {
    width: 340px;
    float: right;
    background-color: rgb(112, 144, 249);

}

aside li {
    margin-left: 20px;
}

#thumb {
    width: 150px;
    float: right;
}

footer {
    height: 30px;
    line-height: 30px;
    border-top: 1px dotted #666;
    clear: both;
    background-color: rgb(207, 201, 201);
}

footer li {
    /*to make a footer navigation use these*/
    list-style-type: none;
    float: left;
    margin-right: 30px;
}



/*Typography*/
h3 {
    text-align: center;
    font-size: 1.5em;
    margin: 10px auto;
    background-color: yellow;
    padding: 10px;
}

h2 {
    margin-bottom: 10px;
}

h1 {
    background-color: rgb(112, 144, 249);
    margin-bottom: 10px;
    text-align: center;
}

p {
    margin-bottom: 10px;
}